/* Created by Tivotal */

/* Google Fonts(Poppins) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none !important;
  text-decoration: none !important;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}
.scroller {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.scroller section {
  scroll-snap-align: start;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 100;
  padding: 1rem 5rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
}


.header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.header nav ul li {
  margin: 0 1.5rem;
}

.header nav ul li a {
  font-size: 1.6rem;
  color: #ffffff;
}

.header nav ul li a:hover {
  color: #000;
  text-decoration: none;
}

.header .fa-bars {
  font-size: 2.5rem;
  color: #666;
  cursor: pointer;
  display: none;
}

.logo img{
  width: 5rem;
}
.logo {
  font-size: 2.5rem;
}
.home .hero {
  min-height: 100vh;
  background: url(images/background.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.home .row {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.home .hero .text1 {
  text-transform: capitalize;
  background-color: #333333bb;
  font-size: 8rem;
  width: 60rem;
  padding: 1rem;
  opacity: 1;
  color: #fff;
  text-shadow:0px 6px 0px #0c0c0c;
  border-radius: 0 30px 30px 0px;
  opacity: 0.8;
}

.home .hero .text2 {
  background-color: #333333bb;
  text-align: left;
  font-size: 4rem;
  width: 50rem;
  padding: 1rem;
  opacity: 0.8;
  margin-top: 1rem;
  color: #fff;
  border-radius: 0 1rem 1rem 0;
  text-shadow:0px 5px 0px #000000
}

.home .hero .text3 {
  background-color: #333333bb;
  text-align: left;
  font-size: 3rem;
  width: 35rem;
  padding: 1rem;
  opacity: 0.8;
  margin-top: 1rem;
  color: #fff;
  border-radius: 0 1rem 1rem 0;
  text-shadow:0px 5px 0px #000000
}

.hotels a{
  color: #000000;

}
.hotels .hero {
  min-height: 100vh;
  background: url(images/Hotel-Sector-Main-Image-New.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.hotels .row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.hotels .hero .text1 {
  text-transform: capitalize;
  margin: auto;
  font-size: 10rem;
  width: 70rem;
  padding: 1rem;
  text-align: center;
  opacity: 1;
  text-shadow:0px 5px 0px #ffffff
}

.hotels .hero .text2 {
  margin: auto;
  font-size: 5rem;
  width: 70rem;
  padding: 1rem;
  text-align: center;
  opacity: 0.8;
  margin-top: 1rem;
  color: #fff;
  border-radius: 0 1rem 1rem 0;
  text-shadow:0px 5px 0px #000000
}




.Resturants a{
  color: #000000;

}
.Resturants .hero {
  min-height: 100vh;
  background: url(images/restaurants-homepage.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.Resturants .row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.Resturants .hero .text1 {
  text-transform: capitalize;
  margin: auto;
  font-size: 10rem;
  width: 70rem;
  padding: 1rem;
  text-align: center;
  opacity: 1;
  text-shadow:0px 5px 0px #ffffff
}

.Resturants .hero .text2 {
  margin: auto;
  font-size: 5rem;
  width: 70rem;
  padding: 1rem;
  text-align: center;
  opacity: 0.8;
  margin-top: 1rem;
  color: #fff;
  border-radius: 0 1rem 1rem 0;
  text-shadow:0px 5px 0px #000000
}

.Bedroom a{
  color: #000000;

}
.Bedroom .hero {
  min-height: 100vh;
  background: url(images/residential.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.Bedroom .row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.Bedroom .hero .text1 {
  text-transform: capitalize;
  margin: auto;
  font-size: 10rem;
  width: 70rem;
  padding: 1rem;
  text-align: center;
  opacity: 1;
  text-shadow:0px 5px 0px #ffffff
}

.Bedroom .hero .text2 {
  margin: auto;
  font-size: 5rem;
  width: 70rem;
  padding: 1rem;
  text-align: center;
  opacity: 0.8;
  margin-top: 1rem;
  color: #fff;
  border-radius: 0 1rem 1rem 0;
  text-shadow:0px 5px 0px #000000
}


.residential a{
  color: #000000;

}
.residential .hero {
  min-height: 100vh;
  background: url(images/retail-homepage.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.residential .row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.residential .hero .text1 {
  text-transform: capitalize;
  margin: auto;
  font-size: 10rem;
  width: 70rem;
  padding: 1rem;
  text-align: center;
  opacity: 1;
  text-shadow:0px 5px 0px #ffffff
}

.residential .hero .text2 {
  margin: auto;
  font-size: 5rem;
  width: 70rem;
  padding: 1rem;
  text-align: center;
  opacity: 0.8;
  margin-top: 1rem;
  color: #fff;
  border-radius: 0 1rem 1rem 0;
  text-shadow:0px 5px 0px #000000
}


















.home .counting {
  min-height: 40vh;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.home .counting .box {
  margin: 2rem 4rem;
  text-align: center;
}

.home .counting .box .count {
  font-size: 7rem;
  color: #444;
}

.home .counting .box h3 {
  font-size: 2rem;
  color: #37383d;
}


.service {
  min-height: 100vh;
}

.service .box-container {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.service .box-container .box {
  height: 25rem;
  width: 25rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
  border: 0.5rem solid #4070f4;
  border-right: 0.5rem solid #4070f4;
  border-radius: 0.5rem;
  text-align: center;
  padding-top: 6rem;
  margin: 2rem 3rem;
}

.service .box-container .box:hover{

  .fas{
    font-size: 5rem;
    color: #3761d4;
  }
  

}

.service .box-container .box .fas {
  color: #4070f4;
  font-size: 4rem;
}


.service .box-container .box p {
  color: #333;
  font-size: 1.1rem;
  margin: 2rem 0;
}

.project {
  min-height: 100vh;
  background: #333;
}

.project .heading {
  color: #fff;
}

.project .box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}

.project .box-container .box {
  height: 20rem;
  width: 30rem;
  border-radius: 0.5rem;
  margin: 2rem;
  overflow: hidden;
  box-shadow: 0 0.3rem 0.5rem #000;
}

.project .box-container .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.project .box-container .box:hover img {
  transform: scale(1.05);
}
.more-project{    
  width: 20rem;
  height: 4rem;
  background-color: #3761d4;
  font-size: 1.5rem;
  color: #fff;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.project .more-project a{
  margin: auto;
  text-decoration: none;
  color: #fff;
  padding: 1rem 3rem;
}

.contact {
  margin-top: 7rem;
  min-height: 100vh;
}

.contact-box-container {
  width: 93%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact-box-container .contact-box {
  height: 15rem;
  flex: 1 0 30rem;
  margin: 2rem;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  text-align: center;
  padding-top: 4rem;
}

.contact-box-container .contact-box:hover {
  transform: scale(1.05);
}

.contact-box-container .contact-box i {
  color: #4070f4;
  font-size: 4rem;
}

.contact-box-container .contact-box h3 {
  font-size: 1.8rem;
  color: #444;
  margin: 2rem 0;
}

.contact .form-container {
  width: 90%;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  padding: 1rem 3rem;
  margin-bottom: 2rem;
}

.contact .form-container form input,
textarea {
  height: 4.5rem;
  padding: 0 1rem;
  margin: 2rem 0;
  font-size: 1.5rem;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
  border: none;
  outline: none;
  color: #333;
}

.contact .form-container form .inputBox {
  display: flex;
  justify-content: space-between;
}

.contact .form-container form input[type="text"] {
  width: 49%;
}

.contact .form-container form input[type="email"] {
  width: 100%;
}

.contact .form-container form textarea {
  width: 100%;
  height: 20rem;
  padding: 1rem;
  resize: none;
  overflow-y: auto;
}

.contact .form-container form input[type="submit"] {
  background: #4070f4;
  width: 15rem;
  color: #fff;
  font-size: 2rem;
  border-radius: 0.5rem;
}

.contact .form-container form input[type="submit"]:hover {
  opacity: 0.8;
}

.footer {
  background: #333;
  text-align: center;
}

.footer .row {
  width: 100%;
  margin-left: 0;
  padding: 1rem;
}

.footer .row .col-md-3 {
  margin: 1rem 0;
}

.footer h2 {
  font-size: 2.5rem;
  color: #fff;
}

.footer p {
  font-size: 1.2rem;
  color: #ccc;
}

.footer .list {
  display: flex;
  flex-flow: column;
}

.footer .list a {
  color: #ccc;
  font-size: 1.7rem;
}

.footer .letter p {
  font-size: 2rem;
}

.footer .letter input[type="email"] {
  outline: none;
  border: none;
  background: none;
  padding: 0 1rem;
  color: #fff;
  height: 3rem;
  width: 100%;
  border: 0.1rem solid #fff;
  font-size: 1.5rem;
}

.footer .letter input[type="submit"] {
  outline: none;
  border: none;
  background: #fff;
  margin: 1rem 0;
  width: 10rem;
  font-size: 1.6rem;
}

.footer .letter input[type="submit"]:hover {
  background: #4070f4;
  color: #fff;
}

.footer .credit {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 2rem;
  padding: 1rem 0;
  margin: 1rem 0;
  margin-bottom: 0;
  border-top: 0.1rem solid #aaa;
  letter-spacing: 0.2rem;
}

.footer .credit span {
  color: #4070f4;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  background: #5c5c5c;
}

::-webkit-scrollbar-thumb {
  background: #464646;
}

.fa-times {
  transform: rotate(180deg);
}

/* media queries  */

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }

  .header .fa-bars {
    display: block;
  }

  .header nav {
    position: fixed;
    top: 6.1rem;
    right: -120%;
    height: calc(100vh - 6rem);
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.3);
    transition: 0.2s linear;
  }

  .header nav ul {
    height: 100%;
    width: 33rem;
    background: #636363;
    flex-flow: column;
    justify-content: center;
    float: right;
  }

  .header nav ul li {
    margin: 1rem 0;
  }

  .header nav ul li a {
    display: block;
    padding: 0.5rem 0;
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    width: 25rem;
    border-radius: 5rem;
    text-align: center;
  }

  .header nav ul li a:hover {
    background: #333;
    color: #fff;
  }

  .header .nav-toggle {
    right: 0%;
  }
  .project{
    min-height: 90vh;
  }
  .more-project{
    margin-top: 1rem;
  }
}
@media (max-width: 450px) {
  .home .hero .text1 {
    align-items: center;
    font-size: 6rem;
    width: 42rem;
    text-shadow:0px 4px 0px #000000;
    border-radius:0 20px 20px 0;
  }
  .home .hero .text2 {
    font-size: 4rem;
    width: 35rem;
    border-radius:0 20px 20px 0;
    text-shadow:0px 3px 0px #000000
  }
  .home .hero .text3 {
    border-radius:0 20px 20px 0;
    text-shadow:0px 3px 0px #000000
  }
  .Resturants .hero .text1 {
    font-size: 6rem;
    width: 33rem;
    text-shadow:0px 4px 0px #ffffff
  }
  .Resturants .hero .text2 {
    font-size: 4rem;
    width: 35rem;
    text-shadow:0px 3.5px 0px #000000
  }

  .Bedroom .hero .text1 {
    font-size: 6rem;
    width: 33rem;
    text-shadow:0px 4px 0px #ffffff
  }
  .Bedroom .hero .text2 {
    font-size: 4rem;
    width: 35rem;
    text-shadow:0px 3.5px 0px #000000
  }
  .hotels .hero .text1 {
    font-size: 6rem;
    width: 33rem;
    text-shadow:0px 4px 0px #ffffff
  }
  .hotels .hero .text2 {
    font-size: 4rem;
    width: 35rem;
    text-shadow:0px 3.5px 0px #000000
  }
  .residential .hero .text1 {
    font-size: 6rem;
    width: 33rem;
    text-shadow:0px 4px 0px #ffffff
  }
  .residential .hero .text2 {
    font-size: 4rem;
    width: 35rem;
    text-shadow:0px 3.5px 0px #000000
  }
}

@media (max-width: 400px) {
  .scroller{
    width: 100%;
  }
  .home .hero .text1 {
    font-size: 5rem;
    width: 40rem;
    text-shadow:0px 4px 0px #000000
  }
  .home .hero .text2 {
    font-size: 4rem;
    width: 35rem;
    text-shadow:0px 3.5px 0px #000000
  }

  .Resturants .hero .text1 {
    font-size: 5rem;
    width: 33rem;
    text-shadow:0px 4px 0px #ffffff
  }
  .Resturants .hero .text2 {
    font-size: 4rem;
    width: 35rem;
    text-shadow:0px 3.5px 0px #000000
  }

  .Bedroom .hero .text1 {
    font-size: 5rem;
    width: 33rem;
    text-shadow:0px 4px 0px #ffffff
  }
  .Bedroom .hero .text2 {
    font-size: 4rem;
    width: 35rem;
    text-shadow:0px 3.5px 0px #000000
  }
  .hotels .hero .text1 {
    font-size: 5rem;
    width: 33rem;
    text-shadow:0px 4px 0px #ffffff
  }
  .hotels .hero .text2 {
    font-size: 4rem;
    width: 35rem;
    text-shadow:0px 3.5px 0px #000000
  }
  .residential .hero .text1 {
    font-size: 5rem;
    width: 33rem;
    text-shadow:0px 4px 0px #ffffff
  }
  .residential .hero .text2 {
    font-size: 4rem;
    width: 35rem;
    text-shadow:0px 3.5px 0px #000000
  }

}
