body{
    background-color: #333;
}
.projects {
    margin-top:10rem;
    min-height: 100%;
    background: #333;
  }
  
  .projects .heading {
    color: #fff;
  }
  
  .projects .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
  }
  
  .projects .box-container .blog {
    height: 20rem;
    width: 30rem;
    border-radius: 0.5rem;
    margin: 2rem;
    overflow: hidden;
    box-shadow: 0 0.3rem 0.5rem #000;
  }
  
  .projects .box-container .blog img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  


